<title>ParkingMall | About</title>

<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>About</h1>
            <br/>
            <p> This website is created by a newbie web developer as a test webpage, solely for practice purposes. <p>
            <p>Disclaimer: The information displayed on the home page belongs to <a href="http://dbklpgis.my/displaymimic.html">DBKL</a>. <br/> 
               The web author is <b>not responsible</b> for the use of the information displayed on this website.</p>
          </div>
        </div>
      </div>
</div>

