#parking-mall-table {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.bays {
  text-align: center;
  width: 40%;
  font-size: 2em;
}

.malls {
  padding-left: 28px !important;
  width: auto;
  font-size: 2em;
}

#malls-th {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

#bays-th {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

th {
  background-color: #009688;
  border-bottom: 5px solid white !important;
  color: white;
  height: 50px;
/*  padding-bottom: 12px !important;*/
}

td {
  background-color: #B2DFDB;
  border-bottom: 5px solid white;
}

a.mall_link {
    color: #303F9F;
}

a:link.mall_link {
    text-decoration: none !important;
}

a:visited.mall_link {
    color: #db9406;
    text-decoration: none !important;
}

a:hover.mall_link {
    text-decoration: underline !important;
    color:#bb4545 !important;
}
