<title>ParkingMall | Home</title>

<%= stylesheet_link_tag "malls_home", :media => "all" %>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron text-center">
                    <h1> Welcome to ParkingMall </h1>
                    </br>
                    <p>Check out the current parking availability of shopping malls in KL!</p>
                </div>
            </div>
        </div>
    </div>
</div>


<%- #Table goes here -%>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <%= render "malls_table" %>
            </div>
        </div>
    </div>
</div>



