<title>ParkingMall | Home</title>

<%= stylesheet_link_tag "malls_home", :media => "all" %>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron text-center">
                    <h1> Welcome to ParkingMall </h1>
                    </br>
                    <p>Check out the current parking availability of shopping malls in KL!</p>
                </div>
            </div>
        </div>
    </div>
</div>


<%- #Table goes here -%>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table" id="parking-mall-table" class="col-md-12">
                    <%- # table header -%>
                    <thead>
                        <tr>
                            <th class="malls" id="malls-th">Mall</th>
                            <th class="bays" id="bays-th">Available Bays</th> 
                        </tr>
                    </thead>

                    <%- # rows -%>
                    <tbody>
                        <% @malls_parkings.each do |m,p| %>
                        <tr>
                            <td class="malls"> <b><%= link_to m, mall_path(m), {:class => "mall_link"} %></b></td>
                            <td class="bays"><%= p %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



